<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="defaul.css">
    <link rel="stylesheet" href="hoja4.css">
    <title>Document</title>
   
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="pqrs.html">PQRS</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <div class="fondo">
        <div class="contenedor">
            <h1> Espacio de Admin </h1>
            <p>Nombre: {{ nombre }}</p>
            <!--
            <div class="item">
                <span>Fecha</span>
                <input type="text" id="fecha" readonly>
                <p>Opción seleccionada tipo: <span id="tipo"></span></p>
                <span>Nombre</span>
                <input type="text" id="nombre" readonly>
                <span>Dirección</span>
                <input type="text" id="direccion" readonly>
                <span>Correo</span>
                <input type="text" id="correo" readonly>
                <span>C.C</span>
                <input type="text" id="cedula" readonly>
                <span>Descripción PQRS</span>
                <input type="text" id="pqrs" readonly>
            </div>-->
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="contacto">
                <h4>Contacto</h4>
                <a href="rappisalud@hotmail.com">rappisalud@hormail.com</a>
                <p> Telefono: 333 3333333</p>

            </div>

            <p>© 2025 Rappisalud. Todos los derechos reservados.</p>

            <div class="redesSociales">
                <h4>Siguenos</h4>
                <a target="_blank" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>

            </div>
        </div>
    </footer>
</body>
</html>