<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="defaul.css">
    <link rel="stylesheet" href="hoja1.css">
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="pqrs.html">PQRS</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>

    <h1 style="margin-left: 100px;">RappiSalud</h1>
    <h4 style="margin-left: 100px;">Los pacientes son nuestra prioridad</h4>

    <div class="introduccion">
        
        <img class ="imagen" src="enfermera-1024x683.jpg" alt="Hospital">
        <div class="texto">
            <p> En rappisalud nos preocupamos mucho por el bienestar y la comodidad de nuestros<br> pacientes 
                , nos comprometemos completamente con nuestro trabajo y nuestra vocación.
                
            </p>
            <p>Contamos con:</p>
            <ul>
                <li>Servicio de Odontologia</li>
                <li>Servicio de oftalmología</li>
                <li>Servicio de Psicologia</li>
                <li>Medicina general</li>
                <li>Medicina Especializada</li>
                <li>Muestras de laboratorio</li>
                <li>Cirugias</li>
            </ul>
        </div>

    </div>
    <footer>
        <div class="container">
            <div class="contacto">
                <h4>Contacto</h4>
                <a href="rappisalud@hotmail.com">rappisalud@hormail.com</a>
                <p> Telefono: 333 3333333</p>

            </div>

            <p>© 2025 Rappisalud. Todos los derechos reservados.</p>

            <div class="redesSociales">
                <h4>Siguenos</h4>
                <a target="_blank" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>

            </div>
        </div>
    </footer>
</body>
</html>