<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="defaul.css">
    <link rel="stylesheet" href="hoja3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="pqrs.html">PQRS</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <div class="aux">
        <section class="descripcion">
            <div class="item">
                <div><img src="logo.jpg" alt="imagen1" height="250px"></div>
                <div>Nicolas Felipe Corredor Cortes</div>
                <p>20221020090</p>
            </div>
            <div class="item">
                <div ><img src="gatoAestethic.jpg" alt="imagen2" height="250px"></div>
                <div>Santiago Guarguati Pedraza</div>
                <p>20221020024</p>
            </div>
            <div class="item">
                <div ><img src="cholo.jpg" alt="imagen3" height="250px"></div>
                <div>Descripción 3</div>
            </div>
        </section>
    </div>
 
    <footer>
        <div class="container">
            <div class="contacto">
                <h4>Contacto</h4>
                <a href="rappisalud@hotmail.com">rappisalud@hormail.com</a>
                <p> Telefono: 333 3333333</p>

            </div>

            <p>© 2025 Rappisalud. Todos los derechos reservados.</p>

            <div class="redesSociales">
                <h4>Siguenos</h4>
                <a target="_blank" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>

            </div>
        </div>
    </footer>
</body>
</html>